// Viewports
$large: 1170px;
$small: 320px;

// Project colors
$background-color: #fafafa;
$basic-text-color:  #2e2e2e;
$white-text-color:  #fafafa;
$text-selection-color: #6aa9ff;
$spinner-color:  #f4f4f4;
// Fonts
$main-font: "Montserrat", "Arial", sans-serif;
